<p>Exemplos de Pipes</p>

<p>Título: {{ livro.titulo | uppercase }}</p>
<!-- aninhamento de pipes -->
<p>Título: {{ livro.titulo | uppercase | lowercase }}</p>
<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p>Estrelas: {{ livro.rating | number:'2.1-2' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency }}</p>
<!--<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>-->
<p>Data Lançamento: {{ livro.dataLancamento | date }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'short' }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'dd:MM:yyyy' }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'dd-MMM-yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>
