<form class="row g-3 mt-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="col-12">
    <label for="nome" class="form-label">Nome</label>
    <!-- também podemos usar: -->
    <!-- [class.is-invalid]="!formulario.get('nome')?.valid && formulario.get('nome')?.touched" -->
    <!-- <input type="text" class="form-control"
      [class.is-invalid]="!formulario.controls['nome'].valid && formulario.controls['nome'].touched" id="nome"
      placeholder="Nome" formControlName="nome" aria-describedby="nome">
    <div *ngIf="!formulario.controls['nome'].valid && formulario.controls['nome'].touched" id="nome"
      class="invalid-feedback">
      Nome é obrigatório.
    </div> -->
    <input type="text" class="form-control"
      [class.is-invalid]="!formulario.controls['nome'].valid && (formulario.controls['nome'].touched || formulario.controls['nome'].dirty)"
      id="nome" placeholder="Nome" formControlName="nome" aria-describedby="nome">
    <div
      *ngIf="!formulario.controls['nome'].valid && (formulario.controls['nome'].touched || formulario.controls['nome'].dirty)"
      id="nome" class="invalid-feedback">
      Nome é obrigatório.
    </div>
  </div>

  <div class="col-12">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control"
      [class.is-invalid]="!formulario.controls['email'].valid && formulario.controls['email'].touched" id="email"
      placeholder="nome@email.com" formControlName="email" aria-describedby="email">
    <div *ngIf="!formulario.controls['email'].valid && formulario.controls['email'].touched" id="email"
      class="invalid-feedback">
      E-mail é obrigatório.
    </div>
    <div *ngIf="formulario.get('email')?.errors?.email" id="email" class="invalid-feedback">
      E-mail inválido.
    </div>
  </div>

  <div class="col-12" formGroupName="endereco">
    <div class="row">
      <div class="col-md-3">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control"
          [class.is-invalid]="!formulario.get('endereco.cep')?.valid && formulario.get('endereco.cep')?.touched"
          id="cep" placeholder="CEP" formControlName="cep" aria-describedby="cep" (blur)="consultaCEP()">
        <div *ngIf="!formulario.get('endereco.cep')?.valid && formulario.get('endereco.cep')?.touched" id="cep"
          class="invalid-feedback">
          CEP é obrigatório.
        </div>
      </div>

      <div class="col-md-3">
        <label for="numero" class="form-label">Número</label>
        <input type="text" class="form-control"
          [class.is-invalid]="!formulario.get('endereco.numero')?.valid && formulario.get('endereco.numero')?.touched"
          id="numero" placeholder="Número" formControlName="numero" aria-describedby="numero">
        <div *ngIf="!formulario.get('endereco.numero')?.valid && formulario.get('endereco.numero')?.touched" id="numero"
          class="invalid-feedback">
          Número é obrigatório.
        </div>
      </div>

      <div class="col-md-6">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control"
          [class.is-invalid]="!formulario.get('endereco.complemento')?.valid && formulario.get('endereco.complemento')?.touched"
          id="complemento" placeholder="Complemento" formControlName="complemento" aria-describedby="complemento">
      </div>

      <div class="col-12">
        <label for="rua" class="form-label">Rua</label>
        <input type="text" class="form-control"
          [class.is-invalid]="!formulario.get('endereco.rua')?.valid && formulario.get('endereco.rua')?.touched"
          id="rua" placeholder="Rua" formControlName="rua" aria-describedby="rua">
        <div *ngIf="!formulario.get('endereco.rua')?.valid && formulario.get('endereco.rua')?.touched" id="rua"
          class="invalid-feedback">
          Rua é obrigatório.
        </div>
      </div>

      <div class="col-md-5">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control"
          [class.is-invalid]="!formulario.get('endereco.bairro')?.valid && formulario.get('endereco.bairro')?.touched"
          id="bairro" placeholder="Bairro" formControlName="bairro" aria-describedby="bairro">
        <div *ngIf="!formulario.get('endereco.bairro')?.valid && formulario.get('endereco.bairro')?.touched" id="bairro"
          class="invalid-feedback">
          Bairro é obrigatório.
        </div>
      </div>

      <div class="col-md-5">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control"
          [class.is-invalid]="!formulario.get('endereco.cidade')?.valid && formulario.get('endereco.cidade')?.touched"
          id="cidade" placeholder="Cidade" formControlName="cidade" aria-describedby="cidade">
        <div *ngIf="!formulario.get('endereco.cidade')?.valid && formulario.get('endereco.cidade')?.touched" id="cidade"
          class="invalid-feedback">
          Cidade é obrigatório.
        </div>
      </div>

      <div class="col-md-2">
        <label for="estado" class="form-label">Estado</label>
        <select class="form-select"
          [class.is-invalid]="!formulario.get('endereco.estado')?.valid && formulario.get('endereco.estado')?.touched"
          id="estado" placeholder="Estado" formControlName="estado" aria-describedby="estado">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <div *ngIf="!formulario.get('endereco.estado')?.valid && formulario.get('endereco.estado')?.touched" id="estado"
          class="invalid-feedback">
          Estado é obrigatório.
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <label for="cargo" class="form-label">Cargo</label>
    <!-- forma antiga que dá erro ao comparar os objetos -->
    <!-- <select class="form-select" [class.is-invalid]="!formulario.get('cargo')?.valid && formulario.get('cargo')?.touched"
      id="cargo" placeholder="Cargo" formControlName="cargo" aria-describedby="cargo">
      <option *ngFor="let cargo of cargos" [value]="cargo">{{ cargo.desc }}</option>
    </select> -->
    <select class="form-select" [class.is-invalid]="!formulario.get('cargo')?.valid && formulario.get('cargo')?.touched"
      id="cargo" placeholder="Cargo" formControlName="cargo" [compareWith]="compararCargos" aria-describedby="cargo">
      <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
    </select>
    <div *ngIf="!formulario.get('cargo')?.valid && formulario.get('cargo')?.touched" id="cargo"
      class="invalid-feedback">
      Cargo é obrigatório.
    </div>
  </div>

  <div class="col-12">
    <label for="tecnologias" class="form-label">Tecnologias</label>
    <select multiple class="form-select"
      [class.is-invalid]="!formulario.get('tecnologias')?.valid && formulario.get('tecnologias')?.touched"
      id="tecnologias" placeholder="Tecnologias" formControlName="tecnologias" aria-describedby=" tecnologias">
      <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
    </select>
    <div *ngIf="!formulario.get('tecnologias')?.valid && formulario.get('tecnologias')?.touched" id="tecnologias"
      class="invalid-feedback">
      Tecnologias é obrigatório.
    </div>
  </div>

  <div class="col-12">
    <div class="form-check form-check-inline">
      <label for="newsletter" class="form-label me-2">Newsletter</label>
    </div>
    <div class="form-check form-check-inline" *ngFor="let newsletter of newsletterOp">
      <input class="form-check-input" type="radio" formControlName="newsletter" id="newsletter{{ newsletter.valor }}" [value]="newsletter.valor">
      <label class="form-check-label" for="newsletter{{ newsletter.valor }}">{{ newsletter.desc }}</label>
    </div>
    <div *ngIf="!formulario.get('newsletter')?.valid && formulario.get('newsletter')?.touched" id="newsletter"
      class="invalid-feedback">
      Newsletter é obrigatório.
    </div>
  </div>

  <div class="col-12">
    <!-- <button type="submit" class="btn btn-primary mb-3" [disabled]="!formulario.valid">Submit</button> -->
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
    <button class="btn btn-secondary mb-3 ms-1" (click)="resetar()">Cancelar</button>
    <button class="btn btn-secondary mb-3 ms-1" (click)="setarCargo()">Cargo</button>
    <button class="btn btn-secondary mb-3 ms-1" (click)="setarTecnologias()">Tecnologias</button>
  </div>

  <div class="mt-3">
    <pre>
      Form válido: {{ formulario.valid }}
    </pre>
    <!-- <pre>
      Form submetido: {{ formulario.submitted }}
    </pre> -->
    <pre>
      Valores: <br>{{ formulario.value | json }}
    </pre>
  </div>
</form>
