<h5>ng-content</h5>
<div class="card">
  <div class="card-header">Título</div>
  <div class="card-body">
    <p class="card-text">Panel content</p>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">Título</div>
  <div class="card-body">
    <p class="card-text">
      <ng-content></ng-content>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <ng-content select=".titulo"></ng-content>
  </div>
  <div class="card-body">
    <p class="card-text">
      <ng-content select=".corpo"></ng-content>
    </p>
  </div>
</div>
