<app-diretiva-ngif></app-diretiva-ngif>
<hr>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<hr>
<app-diretiva-ngfor></app-diretiva-ngfor>
<hr>
<app-diretiva-ngclass></app-diretiva-ngclass>
<hr>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<hr>
<app-operador-elvis></app-operador-elvis>
<hr>
<!--
  <app-exemplo-ng-content>
    Conteúdo passado para o componente.
    <app-operador-elvis></app-operador-elvis>
  </app-exemplo-ng-content>
  <hr>
-->
<app-exemplo-ng-content>
  <div class="titulo">Título do Painel</div>
  <div class="corpo">Corpo do Painel</div>
  <div class="corpo">Corpo do Painel 2 </div>
  Conteúdo passado para o componente.
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content>
<hr>
